<div class="k-box col-lg-offset-2 col-lg-8">

  <%= image_tag "chessboard-home-page.jpg" %>

  <div class="text-center">
    <h1>Welcome to JFChess!</h1>
    <p>
      Lorem ipsum dolor sit amet, te mundi evertitur expetendis sit, no mazim ridens salutandi vim. Duo dolore evertitur ex. Phaedrum vulputate id vim. Cu agam ipsum qui.Mea id tation graeci. Mel clita phaedrum at. Mucius sapientem an pro, iusto splendide deterruisset vis an. Duo ne esse postea aperiri, oratio discere per ei. Est altera consequat an, malis omnium graecis per et, ne postulant tincidunt ius.
    </p>
    <br>
    <%= button_to "PLAY", games_path, {class: 'btn-lg btn-primary'} %>
    <br>
  </div>
</div>
