body {
  margin: 0;
}

.main {
  text-align: center;
  margin-top: 100px;
}
.board-container {
  display: inline-block;
  background: #332315;
  box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
  border: 5px outset #855b13;
}
.square {
  width: 80px;
  height: 80px;
  background-color: #cca872;
  font-size:60px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
  &:hover {
    border: 2px solid red;
  }
}

.row:nth-child(even) .square:nth-child(odd),
.row:nth-child(odd)  .square:nth-child(even) {
  background: #917851;
}
.left {
  height: 675px;
  width: 25%;
  border: 1px solid #333;
  float: left;
  margin-left: 100px;
  text-align: center;
  line-height: 90px;
  font-size: 36px;
  color: #888;
}
.right {
  height: 675px;
  width: 25%;
  border: 1px solid #333;
  float: right;
  margin-right: 100px;
  text-align: center;
  line-height: 90px;
  font-size: 36px;
  color: #888;
}

.row {
  margin: 0 !important;
}
