body {
  margin: 0;
  background: image_url('snow.png');
}

.main {
  text-align: center;
  margin-top: 100px;
}
.board-container {
  display: inline-block;
  background: #332315;
  box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
  border: 5px outset #855b13;
}
.square {
  width: 80px;
  height: 80px;
  background-color: #cca872;
  font-size:60px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}

.piece {
  cursor: default;
}

.square a {
  color: black;
}

.square a:hover {
  color: black;
  text-decoration: none;
}

.row:nth-child(even) .square:nth-child(odd),
.row:nth-child(odd)  .square:nth-child(even) {
  background: #917851;
}
.left {
  height: 675px;
  width: 25%;
  border: 1px solid #333;
  float: left;
  margin-left: 100px;
  text-align: center;
  line-height: 90px;
  font-size: 36px;
  color: #888;
}
.right {
  height: 675px;
  width: 25%;
  border: 1px solid #333;
  float: right;
  margin-right: 100px;
  text-align: center;
  line-height: 90px;
  font-size: 36px;
  color: #888;
}

.row {
  margin: 0 !important;
}

.navbar {
  margin-bottom: 0 !important;
}

.img-fit {
}

.k-box {
  box-shadow: 10px 10px 22px 0px rgba(184,184,184,1);
  background: white;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.col-lg-8 {
  padding: 0 !important;
}

.k-box img {
  object-fit: cover;
  width: 100%;
  height: 500px;
  margin: 0;
  margin-bottom: 40px;
}

.k-box p {
  margin: 0 300px 30px 300px;
  text-align: left;
}

.k-box input {
  margin-bottom: 20px;
  width: 200px;
}